<div style="margin: 0 auto;width:70%;">
	<table class="table table-hover">
	 <thead>
	    <tr>
	      <th>Name</th>
	      <th>Version</th>
	      <th>Description</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr>
	  		<td><strong><%= link_to "Localization API library and Map Data", "/files/LocalizationAPIwithData.zip" %></strong></td>
	  		<td>1.0</td>
	  		<td>it contains both the library and hkust map data</td>
	  	</tr>
<!-- 	  	<tr>
	  		<td><strong><%= link_to "Positioning Data", "/files/position_data.zip" %></strong></td>
	  		<td>the data that use to do the calculation</td>
	  	</tr>
	  	<tr>
	  		<td><strong><%= link_to "Map Data", "/files/map_data.zip" %></strong></td>
	  		<td>the maps of the site</td>
	  	</tr> -->
	  </tbody>
	</table>
</div>