<div class="center hero-unit">
  <h1>Welcome to Wherami</h1>

  <h2>
    You can get 
    <a href="https://play.google.com/store/apps/details?id=mtrec.wherami">Wherami in Google Play</a>.   
  </h2>
  <h2>
  	Register to download Open SDK!
  </h2>	

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

