<% provide(:title, 'Mail') %>
<p>
  <div class="alert alert-warning" role="alert">this function will mail all the users and tell them API has updated. Don't click it by mistake!</div>
  <%= link_to "Send Email", updatemail_path, class: "btn btn-large btn-danger" %>

</p>