<div class="secondContainer">

<h1>Wherami SDK User Guide</h1>

<h1>Summary</h1>

<p>In order to facilitate the development of location-based applications on HKUST campus, we have packaged the core localization functions of <strong>Wherami</strong> into a <strong>Wherami SDK</strong>. It provides an open API that allows you to integrate HKUST floor map, real-time location information and path finding function into your Android apps.</p>

<p>The Wherami Localization API published in this site is a FREE service. The copyright is under HKUST and please quote our credit for republication/redistribution. Registration of the API server is required in order to obtain our authorization for the free API usage. Please follow the registration procedure below and start to create your own location based application right away!</p>

<h1>Getting Started</h1>

<p>Please follow the steps below to use Wherami SDK:</p>

<ol><li><p>User account sign up</p><p>You need to create a user account in our website. The user account is used to register your applications. The user account can be shared by multiple developers in the team. You can register multiple applications that use the location API under the same user account. Wherami SDK upgrade announcement will be sent to the registered email account.</p><p>For a first time user, you need to <strong><a href="http://eek088.ust.hk:4005/signup">sign up</a></strong> first to create the user account; for coming back user, you can simply <strong><a href="http://eek088.ust.hk:4005">sign in</a></strong> to manage your account and applications registered under the account.</p></li><li><p>Application registration (detailed <strong><a href="http://eek088.ust.hk:4005/registration">here</a></strong>)</p><p>For each new application, you need to register it on our website. You must provide some information about you application to ask for the permission. It will normally take 24 hours before we review and approve your application.</p></li><li><p>Download Wherami SDK</p><p>You can download the free SDK from the <strong>Download</strong> link on this website.</p></li><li><p>Use Wherami SDK (detailed <strong><a href="http://eek088.ust.hk:4005/sdk">here</a></strong>)</p><p>Details of Wherami SDK and sample codes are provided in this guide.</p></li></ol>

</div>