<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Wherami has updated! Please download new version of open API!</h1>
    <p>click<a href="http://127.0.0.1:3000/guide">the link</a> to download it!</p>
  </body>
</html>