<% provide(:title, @user.name) %>
<div >

      <h1>
        <%= @user.name %>
      </h1>

  

    <div id="user-apps">
    	<%if @user.apps.any? %>
    		<h4>Your Apps</h4>
    		<table class="apps table">
    			 <thead>
              <tr>
                <th>App Name</th>
                <th>Status</th>
                <th>Operation</th>
              </tr>
          </thead>

          <tbody>
              <%= render @user.apps %>
          </tbody>

    		</table>
    	<%end%>
    </div>
    <%if current_user?(@user)%>
    <%= link_to "Apply OpenSDK", new_app_path, class: "btn btn-large btn-primary" %>
   <%end%>
</div>  
