<% provide(:title, @user.name) %>
<div >
  <aside>
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>

    <div >
    	<%if @user.apps.any? %>
    		<h3>Apps</h3>
    		<table class="apps table">
    			<%= render @apps %>
    		</table>
    	<%end%>
    </div>
  </aside>
</div>  