<% provide(:title, 'All Apps') %>
<h1>All Apps</h1>

<%= will_paginate @apps, renderer: BootstrapPagination::Rails %>

<ul class="apps">
  <%= render @apps %>
</ul>

<%= will_paginate @apps, renderer: BootstrapPagination::Rails %>