<% provide(:title, 'All Apps') %>
<h1>All Apps</h1>
<table class="apps table table-hover">
	<thead>
	  <tr>
	    <th>App Name</th>
	    <th>Status</th>
	    <th>Delete</th>
	  </tr>
	</thead>

	<tbody>
  		<%= render @apps %>
  	</tbody>
</table>
<%= will_paginate @apps, renderer: BootstrapPagination::Rails %>

