<footer class="footer">
  <small>
    <a href="http://www.ust.hk/">Copyright © Mtrec, HKUST. </a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   "http://egz160.ust.hk/lbs/index.php" %></li>
      <li><%= link_to "Contact", contact_path%></li>
    </ul>
  </nav>
</footer>